<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>

    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Enter a New Item..!" required>
            <button type="submit">Add new Item</button>
        </form>
        <ul>
            <% for (let i=0; i < todos.length; i++){ %>
                <li>
                    <%= todos[i].item%>
                </li>
                <% } %>
        </ul>
    </div>
    <script>
        $(document).ready(function () {

            $('form').on('submit', function () {

                var item = $('form input');
                var todo = { item: item.val() };
                console.log(todo);

                $.ajax({
                    type: 'POST',
                    url: '/todo',
                    data: todo,
                    success: function (data) {
                        //do something with the data via front-end framework
                        location.reload();
                    }
                });

                return false;

            });

            $('li').on('click', function () {
                var item = $(this).text().replace(/ /g, "-");
                $.ajax({
                    type: 'DELETE',
                    url: '/todo/' + item,
                    success: function (data) {
                        //do something with the data via front-end framework
                        location.href = '/todo';
                    }
                });
            });

        });
    </script>
</body>

</html>